<!DOCTYPE html>

<html>
    <head>

        <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>{% block title %}Online CV {% endblock title %}</title>
        <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/style.css" rel="stylesheet">



    </head>
    <body>
      <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1 class="text-light"><a href="index.html"><span style=" font-family:'DeliusSwashCaps-bold';src:url('/static/assets/fonts/DeliusSwashCaps-Regular.ttf');">Online CV</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
        
            <li class="dropdown"><a href="#"><span>Resume</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#portfolio">Resume Templates</a></li>
               <li><a href="{% url 'resumetips' %}">Resume Tips</a></li>
            </ul>
            </li>
         

          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
           {% if request.session.email %}
            <li class="dropdown"><a href="#"><img src="" class="avatar rounded-circle" alt=""> <i class="bi bi-person-circle    " > </i>   {{ request.session.email }} <i class="bi bi-chevron-down"></i></a>
            <ul>

              <li><a href="profile"><i class="bi bi-person-circle"></i>Profile</a></li>
              <div class="divider dropdown-divider"></div>
               <li><a href="logout"><i class="bi bi-power  "></i>Logout</a></li>
            {% else %} <li><a class="nav-link scrollto" href="login">Login</a></li>

          {% endif %}
            </ul>
            </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->





  {% block body %} {% endblock body %}
<!-- ======= Footer ======= -->
  <hr><footer id="footer">



    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Ninestars</h3>
            <p>
              H-102 Shantipujay <br>
              Chandlodiya 382481<br>
              Ahmedabad, Gujrat <br><br>
              <strong>Phone:</strong> +91 9510104254<br>
              <strong>Email:</strong> Onlinecv@example.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Resume Tips</a></li>

              <li><i class="bx bx-chevron-right"></i> <a href="#">Contact Us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Login</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Resume Templates</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Paid Templates</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Resume Download</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Resume view</a></li>
             
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Online cv</h4>
            <p>Create your resume easily with our free builder and professional templates</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Online CV  </span></strong>.
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/ -->

      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/assets/vendor/aos/aos.js"></script>
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/assets/vendor/php-email-form/validate.js"></script>
  <script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/assets/js/main.js"></script>
    </body>
</html>