
<!DOCTYPE html>
<html>
<head>
  <title>ADD Resume</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}
</style>
    <script>
      function  myfun()
      {
               var txt;
  if (confirm("Are You Sure Submit Data!")) {
    txt = "You pressed OK!";
    alert("Succesful data");
  } else {
    txt = "You pressed Cancel!";
  }
      }


  </script>
        
   
  <style>
 body {
    background: #fef8f5;
}

.rounded {
    border-radius: 1rem
}

.nav-pills .nav-link {
    color: #eb5d1e
    
}


.nav-pills .nav-link.active {
    color: white;
    background: #eb5d1e;
    
}


input[type="radio"] {
    margin-right: 5px
}

.bold {
    font-weight: bold
}
.file-field.medium .file-path-wrapper {
height: 3rem; }
.file-field.medium .file-path-wrapper .file-path {
height: 2.8rem; }
      </style>
     

</head>
<body>


                         
	




  <div class="container py-5 " >
    <!-- For demo purpose -->
    <div class="row mb-4">
        <div class="col-lg-8 mx-auto text-center">
            <h1 class="display-6">   

  Add Details</h1>
        </div>
        {% comment %} <a href="logout"><b><u><h5>Logout</h5></U></b></a> {% endcomment %}
       

    </div> <!-- End -->
    <div class="row" >
        <div class="col-lg-12 mx-auto">
            <div class="card  " style="" >
                <div class="card-header " >
                    <div class=" shadow-sm pt-4 pl-2 pr-2 pb-2"  >
                        <!-- Credit card form tabs -->
                        <ul role="tablist" class="nav  nav-pills rounded nav-fill mb-3"  ">
                            <li class="nav-item" > <a data-toggle="pill" href="#Personal_Information" class="nav-link  active "> <b>Personal Details</b></a> </li>
                            <li class="nav-item" > <a data-toggle="pill" href="#Education_Information" class="nav-link "> <b>Education Details</b>  </a> </li>
                            <li class="nav-item"> <a data-toggle="pill" href="#Experience" class="nav-link ">  <b>Experinace</b> </a> </li>
                             <li class="nav-item"> <a data-toggle="pill" href="#Achevements" class="nav-link  ">  <b>Achievements </b>  </a> </li>
                            <li class="nav-item"> <a data-toggle="pill" href="#Skiles" class="nav-link ">   <b>Skiils </b>  </a> </li>
                            <li class="nav-item"> <a data-toggle="pill" href="#Download" class="nav-link "> <b>  Download </b>  </a>  </li>
                            
                        </ul>
                        </ul>
                    </div> <!-- End -->
                    <!-- Credit card form content -->
           



           
                    <div class="tab-content">
                        <!-- credit card info-->
                        <div id="Personal_Information" class="tab-pane fade show active pt-3">
                            <form action=""  enctype="multipart/form-data" method="POST"> 
                                {% csrf_token %}
                                   <div class="row " >
                                <div class="form-group col-md-6"> 
                                        
                                        <input type="hidden" name="R_id"  class="form-control "  value=" {{id}}"> </div>
                                    <div class="form-group col-md-6"> 
                                      
                                        <input type="hidden" name="Resume_id"  placeholder="Enter Mobile"  value=""  required class="form-control "> </div>
                                </div>
                                <div class="row">
                                <div class="form-group col-md-4"> 
                                        <h6>First  Name</h6>
                                     <input type="text" name="fname" placeholder="Enter First Name" required class="form-control "> </div>
                                <div class="form-group col-md-4"> 
                                        <h6>Second Name</h6>
                                     <input type="text" name="sname" placeholder="Enter Second Name" required class="form-control "> </div>
                                    <div class="form-group col-md-4"> 
                                        <h6>Last Name</h6>
                                     <input type="text" name="lname" placeholder="Enter Last Name" required class="form-control "> </div>
                                </div>
                                
                                <div class="form-group col-md-12 "> 
                                        <h6>Title</h6>
                                     <input type="text" name="title" placeholder="Enter Your Job Title" required class="form-control "> </div>
                                
                                     
                                 
                                <div class="row">
                                <div class="form-group col-md-6"> 
                                        <h6>Email  </h6>
                                        <input type="email" name="email" placeholder="Enter Email"  required class="form-control "  value=" "> </div>
                                <div class="form-group col-md-6"> 
                                        <h6>Mobile Number</h6>
                                        <input type="tel" name="mobile"  placeholder="Enter Mobile"  value=""  required class="form-control "> </div>
                                </div>
                                 
                                 <div class="row">
                                <div class="form-group col-md-6"> 
                                        <h6>Date of Birth  </h6>
                                     <input type="date" name="dob" placeholder="Enter Date of Birth" required class="form-control "> </div>
                                <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Gender</label>
                                    <div class="p-t-10">
                                        <label class="radio-container m-r-45">Male
                                            <input type="radio" checked="checked" Value="Male" name="gender"/>
                                           
                                        </label>
                                        <label class="radio-container">Female
                                            <input type="radio"  Value ="Female" name="gender">
                                           
                                        </label>
                                         
                                    </div>
                                </div>
                            </div>

                                </div>
                                <div class="row">
                                <div class="form-group col-md-6"> 
                                        <h6>Phone  </h6>
                                     <input type="tel" name="phone" placeholder="Enter Phone Number"  class="form-control "> </div>
                                <div class="form-group col-md-6"> 
                                        <h6>Linkedln  Link</h6>
                                     <input type="url" name="addresslink" placeholder="Enter Address"  class="form-control "> </div>
                                </div>
                               
                                
                                 <div class="row">
                                <div class="form-group col-md-6"> 
                                                                           <div class="col-9">
                                <div>
                                    <label class="label">Language</label>
                                    <div >
                                        <label >English
                                            <input type="checkbox" value="English" name="language[]">
                                           
                                        </label>
                                        <label >Hindi
                                            <input type="checkbox" value="Hindi" name="language[]">
                                          
                                        </label>
                                        <label >Gujrati
                                            <input type="checkbox" value="Gujrati" name="language[]">
                                           
                                        </label>
                                         <label >Tamil
                                             <input type="checkbox" value="Tamil" name="language[]">
                                           
                                        </label>
                                    </div>
                                </div>
                            </div>
                                </div>
                                <div class="form-group col-md-6 "> 
                                        <h6>Other Language</h6>
                                        <input type="text" name="language" placeholder="Enter Other Language"  class="form-control "> </div>
                                        
                                </div>
                                
                            
                                 <div class="form-group col-md-12 "> 
                                        <h6>Address</h6>
                                        <textarea name="address" class="form-control" rows="3"></textarea> </div>
                                
                                       
                               
                               
                                
                                          <div class="form-group col-md-6 btn btn-outline-info waves-effect ml-3 "> 
                                        <h6>Select Profile </h6>
                                        <input type="file" name="image"> </div>
                                
                                 
                                 
                          <!--<-->     
                            <div class="form-group col-md-12 "> 
                                        <h6>About Me</h6>
                                        <textarea class="form-control" name="about" required placeholder="Enter About You"  rows="5"maxlength="750" ></textarea> </div>
                                

                                        
                                        

                               

                                      
                                  
                                
                                        
                                     
                                          
       
                          
                          <!-- comment -->
                          
                           <!-- Credit card form tabs -->
                        
                           <div class="col-md-4  mx-auto "> <input type="submit" name="submit"   value="Save" class="btn btn-primary col-md-6">
<input type="submit" value="Next"  id="myB"class="btn btn-">
                               
                                 </form>
                                 <script type="text/javascript">
    document.getElementById("myB").onclick = function () {
          location. href = "#Experience";
    };
    </script>
                        </div>
                    </div> 
                    <!-- work experience -->
                        <div id="Experience" class="tab-pane fade pt-3">
                            
                        <h6 class="pb-2">Work Experience
</h6>
                        <form  method="Post">
                        {% csrf_token %}
                            <div class="form-group "> <label class="radio-inline"> <input  type="radio" name="exp"  value="Fresher"> Fresher </label> <label class="radio-inline"> <input type="radio" name="exp"  value="Experience" class="ml-5">Experience </label></div>
                       
                        
                         <div class="form-group col-md-12"> 
                                        <h6>Company Name</h6>
                         
                                        <input type="text" name="Comapnayname" placeholder="Enter Company Name" required class="form-control "> </div>
                   
                                        <div class="form-group col-md-12"> 
                     
                         
                            <div class="row">
                                <div class="form-group col-md-6"> 
                                      <h6>Start From </h6>
                                        
                                     <input type="Date" name="startfrom" placeholder="Enter Start Date" required class="form-control "> </div>
                                <div class="form-group col-md-6"> 
                                       <h6> To </h6>
                                     <input type="Date" name="startto" placeholder="Enter Last Date" required class="form-control "> </div>
                                </div>
                                        </div>
                        
                               <div class="form-group col-md-12"> 
                                       <h6> Programing Language </h6>
                                       <input type="text" name="ProgramingLanguage" placeholder="Enter Programing Language Name" required class="form-control "> </div>
                                     
                       <div class="form-group col-md-12"> 
                                        <h6>Address</h6>
                                        <textarea class="form-control"  name="workaddress"required placeholder="Enter Address"  rows="2"maxlength="750" ></textarea> 
                       </div>
                                <div class="form-group col-md-12"> 
                                        <h6>Role</h6>
                                        <textarea class="form-control"  name="role"required placeholder="Enter Role in your company"  rows="3"maxlength="750" ></textarea> 
                                       
                                </div>
                                  
                        
                        <div  class="col-md-3 mx-auto"> 
                            <input type="submit"  value="Save" name="experienceinfo" class="btn btn-primary">
                                
                    </div>       
                         
                         
                        </form>
                   
                                        
                    </div> <!-- End -->
                    <!-- bank transfer info -->
                    <div id="Education_Information" class="tab-pane fade pt-3">
                        <form  method="POST"  enctype="multipart/form-data" action="">
                         {% csrf_token %}
                            <div class="row">
                                <div class="form-group col-md-6"> 
                                        <h6>Qulification</h6>
                                     <input type="text" name="qulificaton" placeholder="Enter Qulification" required class="form-control "> </div>
                                <div class="form-group col-md-6"> 
                                        <h6>College/School</h6>
                                     <input type="text" name="college" placeholder="Enter College/School  Name" required class="form-control "> </div>
                                    
                                </div>
                        
                                <div class="row">
                                    <div class="form-group col-md-4"> 
                                        <h6>Board University</h6>
                                     
                                        <input type="text" name="board" placeholder="Enter Board/University Name" required class="form-control "> 
                        </div>
                                <div class="form-group col-md-4"> 
                                        <h6>Year  </h6>
                                        <input type="date" name="year" placeholder="Enter First Name" required class="form-control "> </div>
                                <div class="form-group col-md-4"> 
                                        <h6>Percentage/class</h6>
                                        <input type="text" name="percentage" placeholder="Enter Percentage/CGPA" required class="form-control "> </div>
                                </div>
                                 
                                
                        <div class="col-md-4  ">
                            <p> <input type="submit" class="btn btn-primary " value="ADD"> </p>
                        </div>
                        </form>
                        
                        
                        
                    </div> <!-- End -->
                        <div id="Achevements" class="tab-pane fade pt-3">
                             <form method="post" action="insertform.php">
                            <div class="form-group col-md-6"> 
                               
                                <h6>Title</h6>
                                     <input type="tel" name="titleach" placeholder="Enter Title Sport/Education" required class="form-control "> </div>
                                
                             <div class="form-group col-md-12"> 
                                        <h6>Achievements </h6>
                                        <textarea class="form-control" name="desc" required placeholder="Your Achievements"  rows="5"maxlength="750" ></textarea> </div>
                                
                              
                            <div class="form-group">
                          
                       <input type="submit" name="achivements" class="btn btn-primary">
                            </div>
                                   
                             
                                 
                             </form>
                            
                            
                        </div>
                    
                    <div id="Skiles" class="tab-pane fade pt-3">
                        <form action="insertform.php" method="post">
                         <div class="form-group col-md-12"> 
                                <h6>Title/Subject</h6>
                                     <input type="text" name="subjectname" placeholder="Enter Title subject Php,Html" required class="form-control "> </div>
                                <div class="form-group col-md-12"> 
                                <h6>Rating/Marks</h6>
                                <input type="text" name="marksrate" placeholder="Enter Rating/marks out of 100 " required class="form-control "> </div>
                                <div class="form-group">
                                   
                                  <input type="submit" name="skiles" class="btn btn-primary">
                                </div>
                        </form>
                      
                    <!-- End -->
                </div>
                     <div id="Download" class="tab-pane fade pt-3">
                        
                         <div class="form-group col-md-12"> <p>View Resume:</p>
<button class="btn" id="myButton"><i class="fa fa-view"></i> View Resume</button>
<br><br>
                               
                                <p>Download Resume:</p>
<button class="btn" id="myButto"><i class="fa fa-download"></i> Download</button>
<br><br>



<p>View Portfolio:</p>
<button class="btn" id="myButt" ><i class="fa fa-view"></i> View Portfolio</button>
                           <script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
          location. href = "http://localhost/VijayResume/ViewDetails.php";
    };
     document.getElementById("myButto").onclick = function () {
          location. href = "http://localhost/VijayResume/ViewDetails.php";
    };
     document.getElementById("myButt").onclick = function () {
          location. href = "http://localhost/VijayResume/index.php";
    };
    
</script>     
                                
                         </div>
                        
                     </div>
                    
                    
                    
                    
            </div>
        </div>
    </div>
</body>
</html>
