
<html>
  <head>
  </head>
  <style>
  ol {
    --li-bg: purple;
  }
  
  ol li::before {
    background-color: var(--li-bg);
  }
  </style>
  
  
  
  <body>
  
  {% extends 'base.html' %}
     {% block title %}Resumetips  {% endblock title %}
   {% block body %}

<img src="/static/img/33.jpg" class="img-fluid  w-100 p-3 " alt="image Not Found" >
 
<div class="container my-4 fs-5 ">
<p class="my-1 p-2 " style="Font-family:Segoe UI;">

<strong>
1. Paper Selection </strong><br>
The top, traditional high-quality résumé options include: Pure White, Natural, Sand Stone and Sea Spray paper. These options can be found in our stores along with several other premium options that are sure to leave a lasting impression on your hiring manager. Putting some effort and thought into your résumé paper selection can go a long way!
<br><strong> 
2. White Space is Key</strong><br>
There is something to be said about the ability to pack a punch with a few, select words. Well-written résumés make every word count and leave space on the page. This means you get to show off the great paper selection you’ve made! It also leaves room for any design guidance you’ve received from our Design Services team members that can add just the right amount of flare to get your résumé noticed.
<br><strong>
3. Print It Your Way</strong><br>
Goals are always a big part of building and executing a strong résumé. When it comes to printing your résumé, you should have an end goal in mind. Try to have an idea of what you want your résumé to look like once it is complete. Work on creating the perfect design using these helpful tips. Then, bring your completed résumé file on a hard drive or upload it online and our team can help you make any necessary adjustments to bring your vision to life.
<br><strong>
Bonus Tip!</strong><br>
Hiring managers are busy and need to be able to easily find your contact information. Be sure to keep that information at the top where they can locate it. Another idea is to attach your business card to your résumé for a nice, professional touch. A well thought out business card can be the difference your hiring manager needs to make the call to bring you in!
<br><strong>
You’re All Set</strong>
Creating the perfect résumé that represents who you are can be challenging. Make sure you put a lot of thought into it and hopefully you’ll nail that next interview or even get offered a new position. Be sure to utilize the tools that are available to you, so that you can start showcasing your skills and impress your hiring managers. You should be proud of the résumé you produce and our team members are here to help you every step of the way.
</p>
</div>


  {% endblock body %}



  